<header class="intro-header" id="aboutheader">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading"></div>
      </div>
    </div>
  </div>
</header>

<div class="container">                  
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-muted about-intro">Our mission is to support DFA students, alum and like-minded professionals in their endeavors to make this world a better place through design and social impact leadership. The DFA Collaborative is an extension of the DFA experience into the professional world and beyond!</h1>
      <hr class="small">            
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6 text-center">
      <h2 class="text-muted section-heading about-subhead">Who is part of the DFA Collaborative?</h2>
      <p class="text-muted about-content">We are DFA alum and like-minded professionals from all over the country with a diverse set of backgrounds who emphasize the HUMAN in Human-Centered Design with hugs, snaps and high-fives.</p>        
      <p class="text-muted about-content">As members, we have some AMAZING, DEFINING characteristics in common: we're quirky, investors in people, optimistic, intrinsically motivated, collaborative, and believers in design for everyone.</p>
    </div>
    <div class="col-md-6 col-lg-6 text-center">
      <h2 class="text-muted section-heading about-subhead">What is DFA?</h2>
      <p class="text-muted about-content">Design for America (DFA) is an award-winning nationwide network of extracurricular, student-led studios and collaborating community members using human-centered design to create local and social impact. Teams immerse with their local community to create, test and implement solutions. These often take the form of new products and services to create social impact! Learn more at the <a href="http://designforamerica.com">Design For America</a> website. </p>
  </div>
  </div>

<iframe src='http://cdn.knightlab.com/libs/timeline/latest/embed/index.html?source=0ArOxN8rx2oLidE5kQnV2ZkR0Y2cyRThXbXFLOVctNnc&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>

</div>