    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/divider.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Our Alumni</h1>
                        <hr class="small">
                        <span class="subheading">Meet Our Awesome Alumni</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
  
    <!-- Alumni Grid Section -->
    <section id="alumni">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Alumni</h2>
                    <h3 class="section-subheading">I'm looking for</h3>
            </div>
                <div class="row">  
                <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
            <div class="row">
                <div class="col-md-4 col-sm-6 alumni-item">
                    <a href="#alumniModal1" class="alumni-link" data-toggle="modal">
                        <div class="alumni-hover">
                            <div class="alumni-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/alumni/user.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="alumni-caption">
                        <h4>User Name</h4>
                        <p class="text-muted">Title, Company</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 alumni-item">
                    <a href="#alumniModal2" class="alumni-link" data-toggle="modal">
                        <div class="alumni-hover">
                            <div class="alumni-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/alumni/user.jpg" class="img-responsive" alt="" style="opacity:1">
                    </a>
                    <div class="alumni-caption">
                        <h4>User Name</h4>
                        <p class="text-muted">Title, Company</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 alumni-item">
                    <a href="#alumniModal3" class="alumni-link" data-toggle="modal">
                        <div class="alumni-hover">
                            <div class="alumni-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/alumni/user.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="alumni-caption">
                        <h4>User Name</h4>
                        <p class="text-muted">Title, Company</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 alumni-item">
                    <a href="#alumniModal4" class="alumni-link" data-toggle="modal">
                        <div class="alumni-hover">
                            <div class="alumni-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/alumni/user.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="alumni-caption">
                        <h4>User Name</h4>
                        <p class="text-muted">Website Design</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 alumni-item">
                    <a href="#alumniModal5" class="alumni-link" data-toggle="modal">
                        <div class="alumni-hover">
                            <div class="alumni-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/alumni/user.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="alumni-caption">
                        <h4>User Name</h4>
                        <p class="text-muted">Title, Company</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 alumni-item">
                    <a href="#alumniModal6" class="alumni-link" data-toggle="modal">
                        <div class="alumni-hover">
                            <div class="alumni-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/alumni/user.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="alumni-caption">
                        <h4>User Name</h4>
                        <p class="text-muted">Title, Company</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- User Modals -->
    <!-- Use the modals below to showcase details about alumni! -->

    <!-- User Modal 1 -->
    <div class="alumni-modal modal fade" id="alumniModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/alumni/user-preview.jpg" alt="">
                            <p>These are my awards, Mother. From Army. The seal is for marksmanship, and the gorilla is for sand racing. You're a good guy, mon frere. That means brother in French. I don't know how I know that. I took four years of Spanish. So Ann, the question is, do you want a man or a boy? I know how I would answer. And that is why Jesus was often referred to as the King of Kings. Queens. The King of Queens. Shémale.</p>
                            <p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User Modal 2 -->
    <div class="alumni-modal modal fade" id="alumniModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Heading</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/alumni/user-preview.jpg" alt="">
                            <p>These are my awards, Mother. From Army. The seal is for marksmanship, and the gorilla is for sand racing. You're a good guy, mon frere. That means brother in French. I don't know how I know that. I took four years of Spanish. So Ann, the question is, do you want a man or a boy? I know how I would answer. And that is why Jesus was often referred to as the King of Kings. Queens. The King of Queens. Shémale.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User Modal 3 -->
    <div class="alumni-modal modal fade" id="alumniModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/alumni/user-preview.jpg" alt="">
                            <p>These are my awards, Mother. From Army. The seal is for marksmanship, and the gorilla is for sand racing. You're a good guy, mon frere. That means brother in French. I don't know how I know that. I took four years of Spanish. So Ann, the question is, do you want a man or a boy? I know how I would answer. And that is why Jesus was often referred to as the King of Kings. Queens. The King of Queens. Shémale.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User Modal 4 -->
    <div class="alumni-modal modal fade" id="alumniModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/alumni/user-preview.jpg" alt="">
                            <p>These are my awards, Mother. From Army. The seal is for marksmanship, and the gorilla is for sand racing. You're a good guy, mon frere. That means brother in French. I don't know how I know that. I took four years of Spanish. So Ann, the question is, do you want a man or a boy? I know how I would answer. And that is why Jesus was often referred to as the King of Kings. Queens. The King of Queens. Shémale.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User Modal 5 -->
    <div class="alumni-modal modal fade" id="alumniModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/alumni/user-preview.jpg" alt="">
                            <p>These are my awards, Mother. From Army. The seal is for marksmanship, and the gorilla is for sand racing. You're a good guy, mon frere. That means brother in French. I don't know how I know that. I took four years of Spanish. So Ann, the question is, do you want a man or a boy? I know how I would answer. And that is why Jesus was often referred to as the King of Kings. Queens. The King of Queens. Shémale.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User Modal 6 -->
    <div class="alumni-modal modal fade" id="alumniModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="img/alumni/user-preview.jpg" alt="">
                            <p>These are my awards, Mother. From Army. The seal is for marksmanship, and the gorilla is for sand racing. You're a good guy, mon frere. That means brother in French. I don't know how I know that. I took four years of Spanish. So Ann, the question is, do you want a man or a boy? I know how I would answer. And that is why Jesus was often referred to as the King of Kings. Queens. The King of Queens. Shémale.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
