<template name="contact">
  <h1>Contact</h1>

  <div class="container">
    <div class="row">
      <div class= "col-lg-12">
        <h2 class="contact-content">Share your thoughts with us.</h2>
        <h3 class="contact-content">
        	If you want to join in, contribute, or if you just have questions, let us know -- whoever and wherever you are. Reach us at <a href="mailto:collaborative@designforamerica.com"> collaborative@designforamerica.com</a>.
        </h3>
      </div>
    </div>
	</div>
</template>