<template name="index">
  <!-- header -->
  <header>
    <div class="container">
      <div class="intro-heading">Welcome to the</div>
      <div class="intro-heading">Design for America</div>
      <div class="intro-heading">Collaborative</div>
    </div>
  </header>

  <body>
    <!-- about -->
    <section class="text-divider" id="about1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">
              The DFA Collaborative is a <strong>network of amazing leaders</strong> - DFA students, alumni and like-minded professionals - working to make this world a better place through design and social impact.
            </h2>
            <a href="{{pathFor route='about'}}"><button class="btn btn-default">Learn More</button></a>
          </div>
        </div>
      </div>
    </section>

    <!-- inspire -->

    <!-- support -->

    <!-- meetup hubs -->

    <!-- contact -->
  </body>
</template>