<!-- Header -->
<header>
  <div class="container">
    <% if flash[:signed_up] %>
 
      <div class="faded_background" id="signed_up_message">Thank you for signing up. We are at your information and will be in touch soon!</div>
 
    <% end %>
    <div class="intro-text wow fadeIn" data-wow-duration="2s">
      <div class="intro-heading">Welcome to the</div>
      <div class="intro-heading">Design for America</div>
      <div class="intro-heading">Collaborative</div>
      <a href="#about1" class="page-scroll btn" id="btn-circle">
        <i class="fa fa-angle-double-down animated"></i></a>
    </div>
  </div>
</header>

<body>
<!-- About Us Section -->
<section class="text-divider" id="about1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow fadeIn">
        <h2 class="section-heading">The DFA Collaborative is a <strong>network of amazing leaders</strong> - DFA students, alumni and like-minded professionals - working to make this world a better place through design and social impact.</h2>
        <a href="about.html"><button class="btn btn-default">Learn More</button></a>                
      </div>
    </div>
  </div>
</section>

<!-- We Support Each Other -->
<section id="support">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow fadeIn">
        <h2 class="img-overlay">We inspire each other to take chances.</h2>
      </div>
    </div>
  </div>
</section>
  
<!-- Resources -->
<section class="text-divider">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow fadeIn">
        <h2 class="section-heading">We realize growth comes through taking inspiration and going for it. We share stories on how to translate design thinking and social impact to new sectors.</h2>
<!--<a href="resources.html"><button class="btn btn-default">Resources</button></a>
-->
      </div>
    </div>  
  </div>
</section>

<!-- For Alumni -->
<section id="alum">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow fadeIn">
        <h2 class="img-overlay">We support each other to find fun, meaningful work.</h2>
      </div>          
    </div>
  </div>
</section>

<section class="text-divider">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow fadeIn">
        <h2 class="section-heading">We support passion projects, making a difference, giving back and expanding into more awesomeness. As an active, collaborative community, we are here to help you in your search for meaningful work by providing resources, networks and mentorship.</h2>            
      </div>
    </div>  
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member wow bounceInLeft">
          <%=image_tag "guy.jpg", :class => 'img-responsive img-circle'%>
          <h4 class="text-muted">Guy Kopsombut</h4>
          <p class="text-muted">Entreprenuer</p>
          <p class="text-muted">Totes Bananas</p>
          <p class="text-muted"><i>DFA Vanderbilt '13</i></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member wow bounceInUp">
          <%=image_tag "ellen.jpg", :class => 'img-responsive img-circle'%>
          <h4 class="text-muted">Ellen Su</h4>
          <p class="text-muted">Chief Creative Officer</p>
          <p class="text-muted">Wellinks</p>
          <p class="text-muted"><i>DFA Yale '13</i></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member wow bounceInRight">
          <%=image_tag "hunter.jpg", :class => 'img-responsive img-circle'%>
          <h4 class="text-muted">Hunter Roux</h4>
          <p class="text-muted">Human Factors Engineer</p>
          <p class="text-muted">Covidien</p>
          <p class="text-muted"><i>DFA Duke '13</i></p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- We Meet Up -->
<section id="meetup">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow fadeIn">
        <h2 class="img-overlay">We actually meet up in person.</h2>
      </div>        
    </div>
  </div>
</section>
  
<!-- Resources -->
<section class="text-divider">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow fadeIn">
        <h2 class="section-heading">We empower members to connect in person via local DFA Hubs. Hubs across the country host a variety of experiences from social gatherings, design thinking happy hours, professional networking to social impact projects!</h2>            
        <a href="hubs.html"><button class="btn btn-default">Find the Hubs</button></a>                
      </div>
    </div>  
  </div>
</section>

<!-- Contact Us -->
<section id="index-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center wow fadeIn">
        <h2 class="img-overlay">Let's get in touch.</h2>
        <h2 class="img-overlay">We love building things with passionate people.</h2>
      </div>
      <a href="contact.html"><button class="btn btn-default">Contact Us</button></a>
    </div>
  </div>
</section>

</body>

