/*========== *INDEX* ==========*/

#index-header {
  background-image: url(/img/index-header.jpg);
}

#btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: rgba(255,255,255,.1);
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

#btn-circle:hover,
#btn-circle:focus {
  outline: 0;
  color: #fff;
  background: rgba(255,255,255,.3);
}

#inspire {
  background-image: url(/img/index-inspire.jpg);
}

#support {
  background-image: url(/img/index-support.jpg);
}

#meetup {
  background-image: url(/img/index-meetup.jpg);
}

#contact {
  background-image: url(/img/index-contact.jpg);
}

/*========== *ABOUT* ==========*/

#about-header {
  background-image: url(/img/about/about-header.JPG);
  height: 400px;
  margin-bottom: 20px;
}

#about-intro {
  text-align:center;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 40px
}

.about-content {
  font-weight: 400;
  text-align: justify;
  font-size: 16px;
  color: #656563;
  line-height: 2;
}

/*========== *HUBS* ==========*/

#hubs-header {
  background-image: url(/img/hubs/hubs-header.jpg);
  height: 400px;
  margin-bottom: 20px;
}

h1.hubs-content, h1.contact-content {
  font-weight: 700;
  text-align: left;
  font-size: 18px;
  color: #656563;
}

h3.hubs-content, h3.contact-content {
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  color: #656563;
  line-height: 2;
}

h4.hubs-city {
  text-transform: uppercase;
  color: #656563;
}